/*navbar styling*/
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

/*heading styling*/
.heading{
    font-size: 1.6rem;

}


/*assets imags*/
.assets img{
    width:270px;
    height: 360px;
}

/*abt section*/

.about{
    flex-direction: column;
}

.about h2{
    text-align: center;
}

.about img{
    width: 200px;
    height: 150px;
    padding: 0px 15px;
}
#message{
    width: 40%;
    height: 200px;
}

/*boxes style*/
.box{
    height: 150px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.box h2{
    color: yellow;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.box p{
    color: white;
    font-size: .8rem;
}


#home .heading {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlide 1s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.assets img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.assets img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #00aced; /* example for LinkedIn */
    transition: all 0.3s ease;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}


html {
    scroll-behavior: smooth;
}